@import "tailwindcss";

:root {
  --primary: #F8FAFC;
    --secondary: #4F46E5;
    --accent-purple: #9333EA;
    --accent-blue: #38BDF8;
    --title: #0F172A;
    --subtitle: #0F172A;
    --normal: #0F172A;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent-purple: var(--accent-purple);
  --color-accent-blue: var(--accent-blue);
  --color-title: var(--title);
  --color-subtitle: var(--subtitle);
  --color-normal: var(--normal);
  --font-outfit: var(--font-outfit);

}
